.celebrate-wedding-sec{
    background-image: url('../images/celebrate-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2{
        color: $color-white;
        margin-bottom: 30px;
    }
    p{
        color: $color-white;
    }
    .common-btn{
        background-color: $color-white;
        color: $color-content;
        border: 1px solid $color-white;

        &:hover{
            background-color: transparent;
            color: $color-white;
        }
    }
}