.copyright{
    background-color: $color-content;
    padding: 8px 0;

    p{
        font-size: 15px;
        line-height: 34px;
        font-weight: $font-weight-normal;
        color: $color-white;
        text-align: $text-center;
    }
}