:root {
  /* Font sizes */
  --fs-xxl: 24px;
  --fs-xl: 22px;
  --fs-lg: 20px;
  --fs-md: 18px;
  --fs-sm: 16px;

  /* Line heights */
  --lh-xxl: 34px;
  --lh-xl: 32px;
  --lh-lg: 30px;
  --lh-md: 28px;
  --lh-sm: 26px;
  --lh-nm: normal;
  
}



a[href=""]:hover, a[href="#"]:hover{cursor:context-menu;}

body{overflow-x: hidden !important;font-family: 'Montserrat'sans-serif;}


h1,h2,h3,h4{font-family: 'Raleway',sans-serif;}
ul{padding: 0;margin: 0;}
ul li:last-of-type{margin-bottom: 0;}
a:hover{color: inherit;}
a{color: inherit;text-decoration: none;}
p:last-of-type{margin-bottom: 0;}



input:focus-visible, textarea:focus-visible{outline: 0;border: 0;}




.mobile-img{display: none;margin-bottom: 20px;}
.mobile-heading{display: none;}


.time-matter-common-padding{padding: 120px 0;}

.time-matter-common h2{font-family: 'Raleway',sans-serif; font-weight: 500;font-size: 42px;line-height: 62px; letter-spacing: 0;color: #1A1A1A;margin-bottom: 50px;} 
.time-matter-common h2.mrbt-20{margin-bottom: 20px;}
.time-matter-common p{font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;}

.time-matter p{font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;}



.site-map-sec { font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;background-color : #FBFBFB;}
.sitemap { text-align: center; padding-bottom: 35px; color: black;}
.site-map-sec ul { padding-left: 20px; list-style: disc;}
.sitemap-list a:hover{ color: var(--bs-link-hover-color);}

.cmn-btn{font-family: 'Montserrat',sans-serif; font-weight: 600; font-size: 20px; line-height: 32px; letter-spacing: 0; text-align: center;display: flex;flex-wrap: nowrap;align-items: center;gap: 12px;width: max-content;margin-top: 30px;}
.cmn-btn span.btn-circle{width: 40px; height: 40px; background-color: #284884; display: flex ; align-items: center; justify-content: center; border-radius: 30px;transition: background-color 0.3s ease; position: relative; overflow: hidden;}
.cmn-btn .btn-circle img { position: relative; z-index: 2; }
.cmn-btn:hover .btn-circle img { animation: arrowFlyAcross 0.2s ease forwards;}
.cmn-btn:focus, .cmn-btn:focus-visible{outline: 0;}

.cmn-btn.white-arrow-btn span.btn-circle{background-color: #284884;}
.cmn-btn.light-wht-btn span.btn-circle{background-color: #FFFFFF33;}

/* Keyframes for arrow fly out ↗ and come back ↙ */
/* @keyframes arrowFlyAcross {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  40% {
    transform: translate(12px, -12px); 
    opacity: 0.5;
  }
  41% {
    transform: translate(-12px, 12px); 
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1; 
  }
} */

@keyframes arrowFlyAcross {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  /* 50% {
    transform: rotate(10deg);
    
  } */

  100% {
    transform: rotate(23deg);
    opacity: 1;
  }
}

.border-seprater{border-bottom: 1px solid #D9D9D9;}


.testimonial-sec.time-matter-common-padding{padding-bottom: 420px;}
.testimonial-sec{background-color: #FBFBFB;overflow-x: hidden;}
.testimonial-sec .row-top-row{margin-bottom: 50px;}
.testimonial-sec .row-top-row p{font-size: var(--fs-md);line-height: var(--lh-md);}
.testimonial-sec .each-testimonial-box  svg{width: max-content;margin-bottom: 30px;}
.testimonial-sec .each-testimonial-box p{font-family: 'Montserrat',sans-serif; font-weight: 500; font-style: Medium; font-size: 25px;line-height: 40px; letter-spacing: 0%;color: #17171780;margin-bottom: 40px}
.testimonial-sec .each-testimonial-box h4{color: #333333CC;font-family: 'Montserrat',sans-serif; font-weight: 500; font-style: Medium; font-size: 20px;  line-height: 24px; letter-spacing: 0px;margin-top: auto;}
.testimonial-sec .each-testimonial-box{background-color: #fff;border-radius: 20px;padding: 34px;display: flex;flex-direction: column;height: 100%;}
.testimonial-sec .testmonial-carousel .owl-item.active.center  .each-testimonial-box p{color: #171717;}
.testimonial-sec .testmonial-carousel .owl-item.active.center  .each-testimonial-box svg path{fill:#284883; fill-opacity: 1;}
.testimonial-sec .testmonial-carousel .owl-stage{display: flex;}

.cta-sec{position: relative;margin: -430px 0;}
.cta-sec .row{background-color: #284883;padding: 120px 140px;border-radius: 30px;align-items: center;}

.cta-sec  .left-side{padding-left: 0;padding-right: 50px;} 
.cta-sec .right-side{padding-right: 0;}
.cta-sec h2{color: #fff;margin-bottom: 22px;}
.cta-sec p{color: #fff;font-size: var(--fs-md);line-height: var(--lh-md);}

.cta-sec .cmn-btn{color: #fff;margin-top: 30px;}
.cta-sec .cmn-btn span.btn-circle{background-color: #fff;}

.contact-form-sec form { display: flex; flex-direction: column; }
.contact-form-sec .form-row { display: flex; gap: 20px; margin-bottom: 10px; }
.contact-form-sec input, .contact-form-sec  textarea { width: 100%;font-family: 'Montserrat',sans-serif; font-weight: 400;  font-size: 16px;line-height: 20px; letter-spacing: 0%; vertical-align: middle;padding: 15px 20px; border: 1px solid #E5E5E5;border-radius: 3px;}
.contact-form-sec textarea { resize: none; margin-bottom: 40px; }
.contact-form-sec button { background-color: #B89B5F; color: white; border: none; padding: 16px; font-size: 18px; border-radius: 4px; cursor: pointer; transition: background 0.3s ease;line-height: 28px; }
.contact-form-sec button:hover { background-color: #B89B5F; }
.contact-form-sec input::placeholder, .contact-form-sec textarea::placeholder {color:#33333380}


form#ContactusForm .form-row .contact-us-form{width: 50%;}
form#ContactusForm .form-row{margin-bottom: 0 !important;}
form#ContactusForm .form-row small{font-size: 0; line-height: 0; height: 20px; display: block;}
form#ContactusForm .form-row small ul.parsley-errors-list li { font-size: 12px; line-height: 18px; color: red;text-transform: capitalize; }
form#ContactusForm .form-row .parsley-error {border-color: red;}
















  h1.privacy-page{font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 58px; line-height: 68px; letter-spacing: 1.2px; text-align: center; margin-bottom: 30px;color: #1A1A1A;text-align: center}

  .privacy-sec-text > p:first-child { padding-bottom: 20px; margin-bottom: 20px; }
  .privacy-sec-text h3 { font-size: 30px; line-height: 40px; margin:40px 0 20px;font-family: 'Montserrat',sans-serif; }
  .privacy-sec-text p { margin-bottom: 20px; }


.pricavy-banner.inner-service-banner .banner-content .banner-text p{max-width: 900px;margin-inline: auto;}

 .privacy-sec-text{padding: 50px 0 120px;}
 .privacy-sec-text article.addres{margin-top: 50px;}
  .privacy-sec-text article.addres {margin-bottom: 20px;}
  .privacy-sec-text article.address p{margin-bottom: 10px;}
   .privacy-sec-text article.address p  a:hover{color: #284883;}
      .privacy-sec-text article.address h4{margin-bottom: 10px; font-size: 25px; line-height: 35px;}

@media (min-width: 1401px) and (max-width: 1800px) {

:root {
  /* Font sizes */
  --fs-xxl: 22px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-md: 18px;
  --fs-sm: 16px;

  /* Line heights */
  --lh-xxl: 24px;
  --lh-xl: 30px;
  --lh-lg: 28px;
  --lh-md: 28px;
  --lh-sm: 26px;
  --lh-nm: normal;
  
}

.time-matter-common h2{font-size: 40px;line-height: 58px} 





.testimonial-sec .each-testimonial-box{padding: 30px;}
.testimonial-sec .each-testimonial-box p{font-size: 23px;}
.testimonial-sec .each-testimonial-box h4{font-size: 19px;}


.cta-sec{padding: -420px 0;}
.cta-sec .row{padding: 100px 80px;}

.contact-form-sec input, .contact-form-sec textarea{font-size: 15px;line-height: 18px;}
.contact-form-sec button{padding: 14px;}


}
@media (min-width: 1200px) and (max-width: 1399.99px) {

:root {
  /* Font sizes */
  --fs-xxl: 20px;
  --fs-xl: 18px;
  --fs-lg: 16px;
  --fs-md: 16px;
  --fs-sm: 15px;

  /* Line heights */
  --lh-xxl: 32px;
  --lh-xl: 30px;
  --lh-lg: 26px;
  --lh-md: 26px;
  --lh-sm: 24px;
  --lh-nm: normal;
  
}

.time-matter-common-padding { padding: 100px 0; }
.time-matter-common h2{font-size: 36px;line-height: 54px;margin-bottom: 40px;} 

.cmn-btn{font-size: 18px;line-height: 28px;margin-top: 25px;}
.cmn-btn span.btn-circle{width: 36px;height: 36px;}
.cmn-btn .btn-circle img{width: 14px;height: 10px;}



.testimonial-sec{padding-bottom: 420px;}
.testimonial-sec .each-testimonial-box svg{width: 60px;height: auto;margin-bottom: 20px;}
.testimonial-sec .each-testimonial-box{padding: 25px;}
.testimonial-sec .each-testimonial-box p{font-size: 20px;line-height: 34px;margin-bottom: 60px;}

.cta-sec{margin: -420px 0;}
.cta-sec .row{padding: 80px 60px;border-radius: 20px;}
.cta-sec .cmn-btn{margin-top: 30px;}
.contact-form-sec .form-row{margin-bottom: 20px;gap: 15px;}
.contact-form-sec input, .contact-form-sec textarea{font-size: 14px;line-height: 18px;padding: 12px 20px;}
.contact-form-sec textarea{max-height: 90px;margin-bottom: 30px;}
.contact-form-sec button{padding: 12px;font-size: 16px;line-height: 26px;}


 h1.privacy-page {
        font-size: 52px;
        line-height: 60px;
        margin-bottom: 25px;
    }
.privacy-sec-text h3 { font-size: 26px; line-height: 36px; margin:30px 0 15px;}
 .privacy-sec-text{padding: 50px 0 100px;}



.site-map-sec { font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;background-color : #FBFBFB;}
.sitemap { text-align: center; padding-bottom: 35px; color: black;}
.site-map-sec ul { padding-left: 20px; list-style: disc;}

}
@media (min-width: 992px) and (max-width: 1199.98px) {

:root {
  /* Font sizes */
  --fs-xxl: 20px;
  --fs-xl: 18px;
  --fs-lg: 16px;
  --fs-md: 15px;
  --fs-sm: 14px;

  /* Line heights */
  --lh-xxl: 30px; 
  --lh-xl: 28px;
  --lh-lg: 26px;
  --lh-md: 24px;
  --lh-sm: 24px;
  --lh-nm: normal;
  
}

.time-matter-common-padding{padding: 80px 0;}
.time-matter-common h2{font-size: 34px;line-height: 50px;margin-bottom: 40px;} 




.cmn-btn{font-size: 17px;line-height: 28px;margin-top: 25px;}
.cmn-btn span.btn-circle{width: 36px;height: 36px;}
.cmn-btn .btn-circle img{width: 14px;height: 10px;}



.testimonial-sec .each-testimonial-box svg{width: 50px;height: auto;margin-bottom: 20px;}
.testimonial-sec .each-testimonial-box{padding: 25px;}
.testimonial-sec .each-testimonial-box p{font-size: 18px;line-height: 32px;margin-bottom: 20px;}

.testimonial-sec .each-testimonial-box h4{font-size: 16px;line-height: 22px;}


.cta-sec{margin: -420px 0;}
.cta-sec .row{padding: 60px 40px;border-radius: 20px;}
.cta-sec .cmn-btn{margin-top: 25px;}
.contact-form-sec .form-row{margin-bottom: 20px;gap: 15px;}
.contact-form-sec input, .contact-form-sec textarea{font-size: 14px;line-height: 18px;padding: 12px 20px;}
.contact-form-sec textarea{max-height: 90px;margin-bottom: 30px;}
.contact-form-sec button{padding: 12px;font-size: 16px;line-height: 26px;}


   h1.privacy-page {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 20px;
    }


.privacy-sec-text h3 { font-size: 26px; line-height: 36px; margin:30px 0 15px;}
 .privacy-sec-text{padding: 50px 0 80px;}

.site-map-sec { font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;background-color : #FBFBFB;}
.sitemap { text-align: center; padding-bottom: 35px; color: black;}
.site-map-sec ul { padding-left: 20px; list-style: disc;}

}
@media (min-width: 768px) and (max-width: 991.98px) {


    :root {
    --fs-xxl: 20px;
    --fs-xl: 18px;
    --fs-lg: 16px;
    --fs-md: 16px;
    --fs-sm: 14px;

    --lh-xxl: 30px;
    --lh-xl: 28px;
    --lh-lg: 26px;
    --lh-md: 26px;
    --lh-sm: 22px;
}



.desktop-img{display: none;}
.mobile-img{display: block;margin-bottom: 30px;}



.time-matter-common-padding{padding: 60px 0;}
.time-matter-common h2{font-size: 32px;line-height: 48px;} 




.cmn-btn{font-size: 16px;line-height: 26px;margin-top: 25px;}
.cmn-btn span.btn-circle{width: 34px;height: 34px;}
.cmn-btn .btn-circle img{width: 12px;height: 10px;}



.testimonial-sec .each-testimonial-box svg{width: 50px;height: auto;margin-bottom: 20px;}
.testimonial-sec .each-testimonial-box{padding: 25px;}
.testimonial-sec .each-testimonial-box p{font-size: 18px;line-height: 32px;margin-bottom: 25px;}
.testimonial-sec .each-testimonial-box h4{font-size: 16px;line-height: 22px;}


.cta-sec .left-side.content-sec {padding-right: 100px;}

.cta-sec .right-side{padding: 0;margin-top: 50px;}
.cta-sec{margin: -420px 0;}
.cta-sec .row{padding: 50px;border-radius: 20px;}
.cta-sec .cmn-btn{margin-top: 25px;}
.contact-form-sec .form-row{margin-bottom: 20px;gap: 15px;}
.contact-form-sec input, .contact-form-sec textarea{font-size: 14px;line-height: 18px;padding: 12px 20px;}
.contact-form-sec textarea{max-height: 90px;margin-bottom: 30px;}
.contact-form-sec button{padding: 12px;font-size: 16px;line-height: 26px;}


h1.privacy-page {
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 20px;
    }
.privacy-sec-text h3 { font-size: 24px; line-height: 34px; margin:20px 0 10px;}
 .privacy-sec-text{padding: 50px 0 60px;}


.site-map-sec { font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;background-color : #FBFBFB;}
.sitemap { text-align: center; padding-bottom: 35px; color: black;}
.site-map-sec ul { padding-left: 20px; list-style: disc;}

}

@media (max-width:767px) {



    :root {
    --fs-xxl: 20px;
    --fs-xl: 18px;
    --fs-lg: 16px;
    --fs-md: 14px;
    --fs-sm: 14px;

    --lh-xxl: 30px;
    --lh-xl: 28px;
    --lh-lg: 26px;
    --lh-md: 24px;
    --lh-sm: 24px;
}



.desktop-heading{display: none;}
.mobile-heading{display: block;}

.desktop-img{display: none;}
.mobile-img{display: block;margin-bottom: 30px;}



.time-matter-common-padding{padding: 50px 20px;}
.time-matter-common h2{font-size: 26px;line-height: 36px;margin-bottom: 30px;} 

.col-12{padding: 0 !important;}


.cmn-btn{font-size: 16px;line-height: 22px;margin-top: 25px;}
.cmn-btn span.btn-circle{width: 34px;height: 34px;}
.cmn-btn .btn-circle img{width: 12px;height: 10px;}


.testimonial-sec .row-top-row{margin-bottom: 40px;}
.testimonial-sec.time-matter-common-padding{padding: 50px 20px}
.testimonial-sec .each-testimonial-box svg{width: 50px;height: auto;margin-bottom: 20px;}
.testimonial-sec .each-testimonial-box{padding: 20px;}
.testimonial-sec .each-testimonial-box p{font-size: 16px;line-height: 30px;margin-bottom: 20px;}
.testimonial-sec .each-testimonial-box h4{font-size: 14px;line-height: 20px;}
.testimonial-sec .testmonial-carousel.owl-carousel{padding: 0;}

.cta-sec {position: unset;margin: 0;background-color:#284883;;}
.cta-sec .row {padding: 10px;background: unset;padding: 0;}
.cta-sec .cmn-btn{margin-top: 25px;}
.cta-sec .right-side.form-sec{margin-top: 50px;}  

.contact-form-sec .form-row{display: block;margin-bottom: 0;}
.contact-form-sec input{margin-bottom: 0;}
.contact-form-sec input, .contact-form-sec textarea{font-size: 14px;line-height: 18px;padding: 12px 18px;}
.contact-form-sec textarea { margin-bottom: 30px; height: 100px;}
.contact-form-sec button{padding: 10px;font-size: 15px;}

form#ContactusForm .form-row .contact-us-form{width: 100%;margin-bottom: 5px;}
form#ContactusForm .form-row small{height: 15px;}

.site-map-sec { font-family: 'Montserrat',sans-serif; font-weight: 400;font-size: var(--fs-lg);line-height: var(--lh-lg); letter-spacing: 0;color: #333333CC;background-color : #FBFBFB;}
.sitemap { text-align: center; padding-bottom: 35px; color: black;}
.site-map-sec ul { padding-left: 20px; list-style: disc;}



     h1.privacy-page {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
        text-wrap-style: balance
    }
  .privacy-sec-text h3 { font-size: 24px; line-height: 34px; margin:30px 0 10px;}
 .privacy-sec-text{padding: 50px 0 50px;}


.time-matter.time-matter-common-padding.without-padding-footer .container-md{padding: 0;}


}







@media (max-width: 575.98px){




  
}    
@media (max-width: 767.98px) and (orientation: landscape) {}
@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width:429px) {
  .time-matter-common h2{text-wrap-style: pretty;}
  
}