@media (min-width: 1200px) and (max-width: 1300px) {

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1140px; }

}

@media (min-width: 1301px) and (max-width: 1400px) {

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1230px; }
    
}

@media all and (min-width: 1401px) and (max-width: 1500px){

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1300px; }

}

@media all and (min-width: 1501px) and (max-width: 1600px){

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1380px; }
    
}

@media all and (min-width: 1601px) and (max-width: 1800px){

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1520px; }
        
}

@media all and (min-width:1801px) and (max-width:2000px){

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1620px; }

}

@media (min-width: 2001px){

.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1700px; }

}