.common-problems-sec{
    background: #F1F1F1;
    padding-top: 0;

    .right-side{padding-left: 0;
        h2{text-align: left;}
        h2::after{margin: 40px 0 70px 0;}
        li { font-size: 22px; font-weight: 700; line-height: 27px; padding-bottom: 20px; background-image: url(../images/problem-list-icon.webp); background-repeat: no-repeat; background-position: 0 5px; padding-left: 30px; color: #333333; }
        li:last-child{padding-bottom: 0;}
        p{letter-spacing: -0.1px;    line-height: 28px;}
        .problem-list{margin-bottom: 30px;}
    }

  &::before { content: ''; display: block; width: 60%; height: 3px; background-color: #D7D7D7; margin: 0px auto 120px auto; }
}
