.diffrent-brand-sec{
    padding-top: 120px;
    padding-bottom: 120px;
    .logo-inline-image { display: flex; justify-content: space-around; align-items: center; }
    .logo-mobile-images{display: none;}
}