.testimonial-sec{background-color: #F1F1F1;

.client-comment p { font-size: 50px; font-weight: 400; line-height: 62px; padding: 0 90px; color: #333333; }
.client-comment img { margin-bottom: 50px; }
.client-details { margin-top: 45px; }
.client-details .name-first-letter { width: 100px; height: 100px; font-size: 76px; font-weight: 600; line-height: 36px; display: flex; background-color: #1E7732; align-items: center; justify-content: center; border-radius: 50px; color: #F1F1F1; margin: 0 auto; margin-bottom: 10px; }
.client-details h4 { font-size: 60px; font-weight: 700; line-height: 75px; color: #333333; }
.carousel-control-prev { left: -30px; width: auto; display: block; }
.carousel-control-next { right: -30px; width: auto; display: block; }
.carousel-indicators{display: none;}

}