
$font-family-Raleway: 'Raleway';
$font-family-Petit: 'Petit_Formal_Script';

$font-size-xxl: 58px;
$font-size-xl: 48px;
$font-size-lg: 24px;
$font-size-md: 22px;
$font-size-s: 16px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-light: 300;

$petit-font-weight: 400;

$color-white: #fff;
$color-black: #000;
$color-yellow: #E4B513;
$color-heading: #111;
$color-content: #333333;

$text-center: center;
$text-left: left;
$text-right: right;


$bg-color-same: #F7FBFC;